* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .02em;
}
*::selection {
    background-color: rgb(64, 109, 145);
    color: white;
}
ul {
    list-style-type: none
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    letter-spacing: .02em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

:root {
    --content-max-width: 960px;
    --text-max-width: 630px;
    --layout-padding: calc(50vw - var(--content-max-width) / 2);
    --color-black-50: rgba(0,0,0,.5);
    --color-black-90: rgba(0,0,0,.9);
}
