.left1 {
    color: #737373;
}

.logo {
    cursor: pointer;
    padding-top: 8px;
    float: left;
    margin-right: 30px;
}

.nav {
    height: 60px;
    border: 1px solid rgb(241, 241, 241);
    font-family: 'PingFang SC';
    color: #737373;
}

.header {
    line-height: 60px;
    margin: 0 40px 0 0;
    float: left;
    text-decoration: none;
    color: #737373;
}

.selected {
    color: #246394;
    font-weight: 700;
    line-height: 60px;
    margin: 0 40px 0 0;
    float: left;
    text-decoration: none;
}

.selected :visited {
    color: #246394;
}

.header:hover {
    color: rgb(80, 130, 169);
    font-weight: 700;
}

.selected:hover {
    color: rgb(80, 130, 169);
    font-weight: 700;
}

.container {
    height: 60px;
    width: 960px;
    margin: 0 auto;
    text-decoration: none;
    position: relative;
}

.right1 {
    position: relative;
}

.searchImg {
    background-image: url("https://cdn.readhub.cn/next_images/icons-d38bc976c73cdfe0268c17d76d4f52f3.png");
    background-position: -80px -458px;
    width: 38px;
    height: 37px;
    transform: scale(.5);
    top: 12px;
    position: absolute;
    cursor: pointer;
    right: 80px;
}

.login {
    position: absolute;
    right: 0;
    line-height: 60px;
}

.login a:hover {
    color: rgb(152, 152, 152);
}

.login a {
    color: #737373;
    text-decoration: none;
}