.left1 {
    color: #737373;
    display: flex;
}

.logo_box {
    display: flex;
    align-items: flex-end;
    margin-left: -120px;
    align-items: center;
    margin-right: 5px;
}

.separate {
    width: 1px;
    height: 15px;
    background-color: #3d6b99;
    margin-left: 30px;
    margin-right: 23px;
}

.nav {
    height: 80px;
    border: 1px solid rgb(241, 241, 241);
    font-family: 'PingFang SC';
    color: #737373;
    background-color: #fff;
}

.header {
    line-height: 80px;
    margin: 0 40px 0 0;
    text-decoration: none;
    color: #737373;
}

.selected {
    color: #246394;
    font-weight: 700;
    line-height: 80px;
    margin: 0 40px 0 0;
    text-decoration: none;
}

.selected :visited {
    color: #246394;
}

.header:hover {
    color: rgb(80, 130, 169);
    font-weight: 700;
}

.selected:hover {
    color: rgb(80, 130, 169);
    font-weight: 700;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right1 {
    display: flex;
    align-items: center;
}

.search_box {
    flex: 0 0 auto;
    cursor: pointer;
    position: relative;
    width: 33px;
    height: 33px;
    margin-right: 25px;
}
.searchImg {
    background-image: url("../../../public/img/jingling.png");
    content: "";
    background-position: -80px -458px;
    width: 38px;
    height: 37px;
    display: inline-block;
    transform: scale(.5);
    transform-origin: 0 0;
    position: absolute;
    top: 8px;
    left: 8px;
}

.login {
    line-height: 80px;
    margin-left: 25px;
}

.login a:hover {
    color: rgb(152, 152, 152);
}

.login a {
    color: #737373;
    text-decoration: none;
}

.mask {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .5;
}